<div class="mod_pagelist">
<h2>Pages overview</h2>
<ul>
<li><a href="page/01/edit" title="Edit page 01">Page 01</a></li>
<li><a href="page/02/edit" title="Edit page 02">Page 02</a></li>
<li><a href="page/03/edit" title="Edit page 03">Page 03</a></li>
<li><a href="page/04/edit" title="Edit page 04">Page 03</a></li>
</ul>
</div>
