<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
</head>
<body>
<div class="header">
<h1>{{ title }}</h1>
<p>Here we start into the world of templates</p>
</div>    
<div class="main">
{{ content|raw }}
</div>    
</body>
</html>