<form>
<input id="ctrl_article_id" type="hidden" name="article_id" value="{{article_id}}" />
<label for="ctrl_article_name">Name:</label>
<input id="ctrl_article_name" type="text" name="article_name" value="{{article_name}}" /><br/>
<label for="ctrl_article_alias">Alias:</label>
<input id="ctrl_article_alias" type="text" name="article_alias" value="{{article_alias}}" /><br/>
<label for="ctrl_article_published">Veröffentlicht:</label>
<input id="ctrl_article_published" type="checkbox" name="article_published" checked="{{article_published}}" /><br/>
</form>
