<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
</head>
<body>
<div class="header">
<h1>TinyCMS</h1>
<p>Here we start into the world of templates</p>
</div>
<div class="main">
{{ content|raw }}
</div>
<div class="footer">
<h2>Das ist ein Footer</h2>
<p>Das Leben fordert manchmal</p>
</div>
</body>
</html>